<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504489315010-t87tv0fkdof28tjsq6e5csgeesunh33i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504489315010-t87tv0fkdof28tjsq6e5csgeesunh33i</string>
	<key>API_KEY</key>
	<string>AIzaSyA27GiRGUFF4yNqejedOyI3zbpnhaPXJ0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>504489315010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bistroverse.flavr</string>
	<key>PROJECT_ID</key>
	<string>flavr-c527b</string>
	<key>STORAGE_BUCKET</key>
	<string>flavr-c527b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504489315010:ios:73120fd1512868f659095b</string>
</dict>
</plist>